<div>
  <h3 class="node_title"><%= link_to(node.title, node) %></h3>
  <% if show_teaser %>
    <%= raw node.teaser %>
  <% else %>
    <%= raw node.body %>
  <% end %>
  <div class="node_status">
    <span class="read_more"><%= link_to node.publish_date.strftime("%B %d, %Y"), node %></span>
    <% if node.can_comment? %>
    <span class="comment_count"><%= link_to("Comments(#{node.comments_count || 0})",node_path(node, :anchor => 'comments')) %></span>
    <% end %>
  </div>
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jessedearing.com<%= url_for(node) %>" data-text="<%= node.title %>" data-count="horizontal" data-via="JesseDearing">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <div class="g-plusone" data-href="http://jessedearing.com<%= url_for(node) %>"></div>
    <div class="fb-like" data-href="http://jessedearing.com<%= url_for(node) %>" data-send="false" data-width="450" data-show-faces="true"></div>
  </div>
</div>
