<div class="grid_16" id="main_content">
  <div class="padded">
    <%= render :partial => "node", :locals => { :show_teaser => true }, :collection => @posts %>
  </div>
</div>
<div class="clear"></div>
<% if @total_post_count > 5 %>
  <div class="grid_16">
    <a href="<%= root_path %>?page=1">1</a>
    <% (@total_post_count / 5).times do |pg| %>
      | <a href="<%= root_path %>?page=<%= pg + 2 %>"><%= pg + 2 %></a>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
