<%
title @post.title
%>
<% cache("node#{@post.id}") do %>
<div class="grid_16" id="main_content">
  <div class="padded">
    <%= render :partial => "node", :locals => {:show_teaser => false}, :object => @post %>
  </div>
</div>
<div class="clear"></div>
<% if @post.can_comment? %>
<div class="grid_12 padded" id="comments">
  <h4>Comments</h4>
  <p><a href="javascript:JD.new_comment(<%= params[:id].to_i %>);" id="comment_new_link">Post New Comment &raquo;</a></p>
  <div id="comment_new"></div>
</div>
<div class="clear"></div>
<div class="prefix_1 suffix_3 grid_12">
  <% if @post.comments.size > 0 %>
    <%= render @post.comments.complete %>
  <% else %>
    <p class="no_comments">Nobody has commented on this yet.</p>
  <% end %>
</div>
<% end %>
<% end %>
<div class="clear"></div>
<script type="text/javascript">
$(document).ready(function() {
  if((/comment_id/).test(window.location.search)) {
  JD.edit_comment(<%= params[:id]%><%= ",#{params[:comment_id]}" if params[:comment_id] %>);
  }

  if((/^#comment-/).test(window.location.hash)) {
    $(window.location.hash).animate({backgroundColor: '#ffffaa'}, 600).animate({backgroundColor: '#ffffff'}, 600);
  }
});
</script>
