<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>Jesse Dearing.com<%= yield(:title) %></title>
  <meta name="description" content="My name is Jesse Dearing and I am a full-stack developer. This is where I write about stuff that interests me" />
  <meta name="keywords" content="full stack developer,developer,ruby,rails,dearing,php,open source,devops" />
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= stylesheet_link_tag "960.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Neuton:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=311604862200681";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <%= render 'layouts/header' %>
  <div class="container_16">
<%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= stylesheet_link_tag 'gist.css', :itemprop => 'gist_styles' %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" %>
  <%= javascript_include_tag "http://www.google.com/recaptcha/api/js/recaptcha_ajax.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag 'jquery.validate.min.js' %>
  <%= raw google_analytics %>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <%= yield(:javascripts) %>
</body>
</html>
