<!DOCTYPE html>
<html>
<head>
  <title>Jesse Dearing.com</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Neuton:regular,italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container_16">
<%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= stylesheet_link_tag 'gist.css' %>
</body>
</html>
